<head>
    <meta charset="utf-8"/>
    <title>Cutenimals</title>
    
    <link rel="icon" th:href="@{/img/favicon32x32.ico}" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />

    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Petrona' rel='stylesheet' type='text/css' />
    <link href="css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
    <link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />

    <script src="js/jquery-2.1.1.min.js" th:src="@{/js/jquery-2.1.1.min.js}"></script>
    <script src="js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
</head>