<div class="container-fluid" id="errorMessages" th:if="${errorMessage != null}">
        <div class="alert alert-danger">
                <strong th:text="${errorMessage}">Virhe!</strong>
        </div>
        <script>
                setTimeout(function () {
                        $("#errorMessages").fadeOut(500, function() { $(this).remove(); });
                }, 2500 /* Time to wait in milliseconds */);
        </script>
</div>
<div class="container-fluid" id="messages" th:if="${message != null}">
        <div class="alert alert-success">
                <strong th:text="${message}">Kuva lisätty!</strong>
        </div>
        <script>
                setTimeout(function () {
                        $("#messages").fadeOut(500, function() { $(this).remove(); });
                }, 2500 /* Time to wait in milliseconds */);
        </script>
</div>