<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="js/jquery.wookmark.min.js" th:src="@{/js/jquery.wookmark.min.js}"></script>
<script src="js/imagesloaded.pkgd.min.js" th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
<script>
    $(document).ready(function() {
        new imagesLoaded('done', function(instance){
            $('#animalpicture-container .picture').wookmark({
                align: 'center',
                autoResize: true,
                comparator: null,
                container: $('#animalpicture-container'),
                direction: "left",
                ignoreInactiveItems: true,
                itemWidth: "25%",
                fillEmptySpace: true,
                flexibleWidth: "50%",
                offset: 10,
                onLayoutChanged: undefined,
                possibleFilters: [],
                resizeDelay: 50
            });
        });
        
        $('.like-box').on('click', function(event) {
            event.preventDefault();
            var clickedEl = $(this);
            var address = "/pictures/" + $(this).attr('id');
            var like = "/like/";
            var dislike = "/dislike/";
            
            if (clickedEl.attr('href')==(address+like)){
                address += dislike;
            } else {
                address += like;
            }
            
            jQuery.ajax($(this).attr('href'), {type: 'GET'})
                    .done(function(data){
                        clickedEl.addClass("liked");
                        clickedEl.attr('href', address)
                        clickedEl.find("span").html(data);
                    });
                    
            return false;
        });
        $(function() {
            if (window.location.hash.indexOf("submitAnimalPicModal") !== -1) {
                $("#submitAnimalPicModal").modal();
            } else if (window.location.hash.indexOf("submitAlbumModal") !== -1) {
                $("#submitAlbumModal").modal();
            }
        });
    });
</script>