/* line 20, ../sass/style.scss */
body {
  margin-top: 60px;
}

/* line 25, ../sass/style.scss */
.navbar-brand {
  font-family: Kaushan Script;
}

/* line 29, ../sass/style.scss */
#messages {
  position: fixed;
  top: 56px;
  z-index: 10000;
}

/* line 35, ../sass/style.scss */
#animalpicture-container {
  position: relative;
}
/* line 39, ../sass/style.scss */
#animalpicture-container .picture {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  width: 25%;
  display: block;
  margin-bottom: 5px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
  vertical-align: middle;
}
/* line 54, ../sass/style.scss */
#animalpicture-container .picture img {
  /*max-width: 100%;*/
  max-height: 480px;
  vertical-align: middle;
  display: block;
  margin: 0px auto;
  text-align: center;
}
/* line 62, ../sass/style.scss */
#animalpicture-container .picture.large {
  width: 50%;
}
/* line 66, ../sass/style.scss */
#animalpicture-container .picture .title-box {
  background-color: #000;
  display: block;
  padding: 25px;
  height: 75px;
  color: #fff;
  text-align: left;
  font-family: Kaushan Script;
  font-size: 18pt;
  overflow: hidden;
}
/* line 81, ../sass/style.scss */
#animalpicture-container .picture .info-box {
  background-color: #0333;
  display: block;
  height: 80px;
  overflow: hidden;
}
/* line 88, ../sass/style.scss */
#animalpicture-container .picture .info-box .description-box {
  display: inline-block;
  width: 80%;
  height: 100%;
  overflow: visible;
  padding: 8px 5px 8px 5px;
}
/* line 96, ../sass/style.scss */
#animalpicture-container .picture .info-box .tools-box {
  display: inline-block;
  width: 15%;
  padding-top: 13px;
}
/* line 102, ../sass/style.scss */
#animalpicture-container .picture .info-box .tools-box a {
  text-align: center;
  width: 100%;
  color: #fff;
}
/* line 108, ../sass/style.scss */
#animalpicture-container .picture .info-box .tools-box a:hover {
  text-decoration: none;
}
/* line 113, ../sass/style.scss */
#animalpicture-container .picture .info-box .tools-box .comment-box {
  font-size: 15pt;
}
/* line 116, ../sass/style.scss */
#animalpicture-container .picture .info-box .tools-box .comment-box i:hover:before {
  content: "\f075";
}
/* line 123, ../sass/style.scss */
#animalpicture-container .picture .info-box .tools-box a.comment-box:hover i:before {
  content: "\f075";
}
/* line 129, ../sass/style.scss */
#animalpicture-container .picture .info-box .tools-box .like-box {
  font-size: 15pt;
}
/* line 133, ../sass/style.scss */
#animalpicture-container .picture .info-box .tools-box .like-box i:hover:before {
  content: "\f004";
}
/* line 137, ../sass/style.scss */
#animalpicture-container .picture .info-box .tools-box .like-box.liked {
  color: #f23460;
}
/* line 144, ../sass/style.scss */
#animalpicture-container .picture .info-box .tools-box a.like-box:hover i:before {
  content: "\f004";
}
/* line 150, ../sass/style.scss */
#animalpicture-container .picture .info-box .tools-box a.like-box.liked i:before {
  content: "\f004";
}
/* line 154, ../sass/style.scss */
#animalpicture-container .picture .info-box .tools-box a.like-box.liked i:hover:before {
  content: "\f08a";
}
/* line 162, ../sass/style.scss */
#animalpicture-container .picture.border-pastel-green {
  border: #BFD8AD 2px solid;
}
/* line 165, ../sass/style.scss */
#animalpicture-container .picture.border-pastel-green .title-box {
  background-color: #BFD8AD;
}
/* line 169, ../sass/style.scss */
#animalpicture-container .picture.border-pastel-green .info-box {
  background-color: #BFD8AD;
}
/* line 174, ../sass/style.scss */
#animalpicture-container .picture.border-pastel-red {
  border: #F06D61 2px solid;
}
/* line 177, ../sass/style.scss */
#animalpicture-container .picture.border-pastel-red .title-box {
  background-color: #F06D61;
}
/* line 181, ../sass/style.scss */
#animalpicture-container .picture.border-pastel-red .info-box {
  background-color: #F06D61;
}
/* line 186, ../sass/style.scss */
#animalpicture-container .picture.border-pastel-yellow {
  border: #F7AF63 2px solid;
}
/* line 189, ../sass/style.scss */
#animalpicture-container .picture.border-pastel-yellow .title-box {
  background-color: #F7AF63;
}
/* line 193, ../sass/style.scss */
#animalpicture-container .picture.border-pastel-yellow .info-box {
  background-color: #F7AF63;
}
/* line 198, ../sass/style.scss */
#animalpicture-container .picture.border-pastel-blue {
  border: #9CDDC8 2px solid;
}
/* line 201, ../sass/style.scss */
#animalpicture-container .picture.border-pastel-blue .title-box {
  background-color: #9CDDC8;
}
/* line 205, ../sass/style.scss */
#animalpicture-container .picture.border-pastel-blue .info-box {
  background-color: #9CDDC8;
}
