/* line 21, ../sass/style.scss */
body {
  margin-top: 60px;
}

/* line 26, ../sass/style.scss */
.navbar-brand {
  font-family: Kaushan Script;
}

/* line 30, ../sass/style.scss */
#messages {
  position: fixed;
  top: 56px;
  z-index: 10000;
}

/* line 36, ../sass/style.scss */
.no-animal-pictures {
  font-family: Kaushan Script;
  margin-top: 85px;
}

/* line 41, ../sass/style.scss */
#animalpicture-container {
  position: relative;
}
/* line 45, ../sass/style.scss */
#animalpicture-container .picture {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  width: 25%;
  display: block;
  margin-bottom: 5px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
  vertical-align: middle;
}
/* line 60, ../sass/style.scss */
#animalpicture-container .picture img {
  /*max-width: 100%;*/
  max-height: 480px;
  vertical-align: middle;
  display: block;
  margin: 0px auto;
  text-align: center;
}
/* line 68, ../sass/style.scss */
#animalpicture-container .picture.large {
  width: 50%;
}
/* line 72, ../sass/style.scss */
#animalpicture-container .picture .title-box {
  background-color: #000;
  display: block;
  padding: 25px;
  height: 75px;
  color: #fff;
  text-align: left;
  font-family: Kaushan Script;
  font-size: 18pt;
  overflow: hidden;
}
/* line 87, ../sass/style.scss */
#animalpicture-container .picture .info-box {
  background-color: #0333;
  display: block;
  height: 80px;
  overflow: hidden;
}
/* line 94, ../sass/style.scss */
#animalpicture-container .picture .info-box .description-box {
  display: inline-block;
  width: 80%;
  height: 100%;
  overflow: visible;
  padding: 8px 5px 8px 5px;
}
/* line 102, ../sass/style.scss */
#animalpicture-container .picture .info-box .tools-box {
  display: inline-block;
  width: 15%;
  padding-top: 13px;
}
/* line 108, ../sass/style.scss */
#animalpicture-container .picture .info-box .tools-box a {
  text-align: center;
  width: 100%;
  color: #fff;
}
/* line 114, ../sass/style.scss */
#animalpicture-container .picture .info-box .tools-box a:hover {
  text-decoration: none;
}
/* line 119, ../sass/style.scss */
#animalpicture-container .picture .info-box .tools-box .comment-box {
  font-size: 15pt;
}
/* line 122, ../sass/style.scss */
#animalpicture-container .picture .info-box .tools-box .comment-box i:hover:before {
  content: "\f075";
}
/* line 129, ../sass/style.scss */
#animalpicture-container .picture .info-box .tools-box a.comment-box:hover i:before {
  content: "\f075";
}
/* line 135, ../sass/style.scss */
#animalpicture-container .picture .info-box .tools-box .like-box {
  font-size: 15pt;
}
/* line 139, ../sass/style.scss */
#animalpicture-container .picture .info-box .tools-box .like-box i:hover:before {
  content: "\f004";
}
/* line 143, ../sass/style.scss */
#animalpicture-container .picture .info-box .tools-box .like-box.liked {
  color: #f23460;
}
/* line 150, ../sass/style.scss */
#animalpicture-container .picture .info-box .tools-box a.like-box:hover i:before {
  content: "\f004";
}
/* line 156, ../sass/style.scss */
#animalpicture-container .picture .info-box .tools-box a.like-box.liked i:before {
  content: "\f004";
}
/* line 160, ../sass/style.scss */
#animalpicture-container .picture .info-box .tools-box a.like-box.liked i:hover:before {
  content: "\f08a";
}
/* line 168, ../sass/style.scss */
#animalpicture-container .picture.border-pastel-green {
  border: #BFD8AD 2px solid;
}
/* line 171, ../sass/style.scss */
#animalpicture-container .picture.border-pastel-green .title-box {
  background-color: #BFD8AD;
}
/* line 175, ../sass/style.scss */
#animalpicture-container .picture.border-pastel-green .info-box {
  background-color: #BFD8AD;
}
/* line 180, ../sass/style.scss */
#animalpicture-container .picture.border-pastel-red {
  border: #F06D61 2px solid;
}
/* line 183, ../sass/style.scss */
#animalpicture-container .picture.border-pastel-red .title-box {
  background-color: #F06D61;
}
/* line 187, ../sass/style.scss */
#animalpicture-container .picture.border-pastel-red .info-box {
  background-color: #F06D61;
}
/* line 192, ../sass/style.scss */
#animalpicture-container .picture.border-pastel-yellow {
  border: #F7AF63 2px solid;
}
/* line 195, ../sass/style.scss */
#animalpicture-container .picture.border-pastel-yellow .title-box {
  background-color: #F7AF63;
}
/* line 199, ../sass/style.scss */
#animalpicture-container .picture.border-pastel-yellow .info-box {
  background-color: #F7AF63;
}
/* line 204, ../sass/style.scss */
#animalpicture-container .picture.border-pastel-blue {
  border: #9CDDC8 2px solid;
}
/* line 207, ../sass/style.scss */
#animalpicture-container .picture.border-pastel-blue .title-box {
  background-color: #9CDDC8;
}
/* line 211, ../sass/style.scss */
#animalpicture-container .picture.border-pastel-blue .info-box {
  background-color: #9CDDC8;
}

/* line 219, ../sass/style.scss */
.image-container .image {
  width: 100%;
}
/* line 223, ../sass/style.scss */
.image-container .image-title {
  color: #f23460;
  font-family: Kaushan Script;
}

/* line 230, ../sass/style.scss */
.comments-container .comments-title {
  font-family: Kaushan Script;
  font-size: 20pt;
}

/* line 236, ../sass/style.scss */
.comment {
  border-bottom: 1px solid rgba(242, 52, 96, 0.7);
}
/* line 239, ../sass/style.scss */
.comment:last-child {
  border-bottom: 0px;
}
/* line 243, ../sass/style.scss */
.comment .comment-title {
  font-size: 20pt;
  color: #29221F;
  margin-left: -5px;
}
/* line 249, ../sass/style.scss */
.comment .comment-title .back-to-animalpicture {
  color: #f23460;
}
/* line 254, ../sass/style.scss */
.comment .timestamp {
  font-style: italic;
}

/* line 259, ../sass/style.scss */
.comment-form {
  margin: 25px;
}

/* line 263, ../sass/style.scss */
.back-to-username {
  font-family: Petrona;
  color: #29221F;
}
/* line 267, ../sass/style.scss */
.back-to-username .the-username {
  color: #f23460;
}
