<!DOCTYPE html>
<html>
  <head th:replace="fragments/head">
    <meta charset="utf-8" />
    <title>Cutenimals!!!</title>
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <nav th:replace="fragments/nav"></nav>
    <div th:replace="fragments/messages">message</div>
    
    <div th:if="${albums != null}"> 
        <h3>Albums created </h3>     
        <ol>
            <li th:each="album : ${albums}">
                <a th:href="@{/albums/}+ ${album.id}" th:text="${album.albumName}"></a> (<span th:text="${#lists.size(album.animalPictures)}"/>)
            </li>
        </ol>
    </div>
    
    <div th:replace="fragments/modals">modals</div>
    <script th:replace="fragments/scripts">scripts</script>
  </body>
</html>