<!DOCTYPE html>
<html>
  <head th:replace="fragments/head">
    <meta charset="utf-8" />
    <title>Cutenimals!!!</title>
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <nav th:replace="fragments/nav"></nav>
    <div th:replace="fragments/messages">message</div>
    
    <h3>This is your <span  th:if="${album.name != null}" th:text="${album.name}"></span> album page</h3>
    
    <div th:if="!${#lists.isEmpty(album.animalPictures)}"  class="container-fluid">
        <div id="animalpicture-container">
        <h3>Album pictures:</h3>
            <div th:each="image : ${album.animalPictures}" class="picture border-pastel-blue">
               <a th:href="@{/pictures/} + ${image.id}"><img th:attr="src=@{/pictures/} + ${image.id} + @{/src}" /></a>
               <div class="title-box" th:if="${image.title != null}" th:text="${image.title}">
                       Title :)
               </div>
               <div class="controls">
                       <div class="description-box" th:if="${image.description != null}" th:text="${image.description}">
                               Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                       </div>
                       <a href="#" class="like-box"><i class="fa fa-heart-o"></i></a>
               </div>
            </div>
        </div>
   </div>
    
   <div class="container-fluid" th:if="${#lists.isEmpty(album.animalPictures)}">
        <center>
            <h1 class="no-data">No pictures found</h1>
             <span sec:authorize="isAuthenticated()"><a href="#" data-toggle="modal" data-target="#submitAnimalPicModal"><i class="fa fa-plus"></i> Add a new animal picture</a></span>
        </center>
   </div>

    <div th:replace="fragments/modals">modals</div>
    <script th:replace="fragments/scripts">scripts</script>
  </body>
</html>
