<!DOCTYPE html>
<html>
  <head th:replace="fragments/head">
    <meta charset="utf-8" />
    <title>Cutenimals!!!</title>
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <nav th:replace="fragments/nav"></nav>
    <div th:replace="fragments/messages">message</div>
    
    <div class="container-fluid">
        <div class="row albums" th:if="${albums != null}">
            <div class="col-sm-12" th:each="album : ${albums}">
                <div class="album">
                    <h1 class="album-title" th:text="${album.name}">Album Name</h1>
                    <a class="report-button"><i class="fa fa-exclamation-triangle"></i></a>
                    <div class="row album-pictures animalpicture-container">
                        <div class="col-sm-4 album-thumbnail-image" th:each="animalpic : ${album.getMax3AnimalPictures()}"><img src="img/animals/animal1.jpg"/></div>
                    </div>
                    <div class="album-statistics">
                        <div class="pull-right">
                            <div class="total-images"><i class="fa fa-image"></i> <span th:text="${#lists.size(album.animalPictures)}" /></div>
                            <a href="#" class="like-box liked"><i class="fa fa-heart-o"></i> <span th:text="${album.likes}" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div th:replace="fragments/modals">modals</div>
    <script th:replace="fragments/scripts">scripts</script>
  </body>
</html>