<!DOCTYPE html>
<html>
  <head th:replace="fragments/head">
    <meta charset="utf-8" />
    <title>Cutenimals!!!</title>
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <nav th:replace="fragments/nav"></nav>
    <div th:replace="fragments/messages">message</div>
    
    <h3 class="album-title"><span  th:if="${album.name != null}" th:text="${album.name}"></span> album page</h3>   
    <a sec:authorize="isAuthenticated()" th:attr="data-action=@{/reports/albums/} + ${album.id},data-title=${album.name}" data-type="album" class="report-button"><i class="fa fa-exclamation-triangle"></i></a>
    <div  class="container-fluid">
        
        <div th:if="!${#lists.isEmpty(album.animalPictures)}" id="animalpicture-container">

            <div th:each="image : ${album.animalPictures}" class="picture border-pastel-blue">
               <div class="title-box" th:if="${image.title != null}" th:text="${image.title}">
                      <a sec:authorize="isAuthenticated()" th:attr="data-action=@{/reports/animalpictures/} + ${picture.id},data-title=${picture.title}" data-type="picture" class="report-button"><i class="fa fa-exclamation-triangle"></i></a>
                       Title :)
               </div>
                <a th:href="@{/pictures/} + ${image.id}"><img th:attr="src=@{/pictures/} + ${image.id} + @{/src}" /></a>
               <div class="info-box">
                            <div class="description-box" >
                                <span th:text="${image.description}">description</span><br/>
                                <a href="#" class="author"  th:attr="href=@{/users/} + ${image.author.id}"><span th:text="@{by&nbsp;} + ${image.author.username}">100</span></a>
                            </div>
                            <div class="tools-box">
                                    <a href="#" class="comment-box" th:href="@{/pictures/} + ${image.id}">(<span th:text="${#lists.size(image.comments)}">100</span>) <i class="fa fa-comments"></i></a>
                                    <a href="#" class="like-box" th:id="${image.id}" th:attr="href=@{/pictures/} + ${image.id} + @{/like}">(<span th:text="${#lists.size(image.likes)}">100</span>) <i class="fa fa-heart-o"></i></a>
                            </div>
               </div>
            </div>
        </div>
   </div>
    
   <div class="container-fluid" th:if="${#lists.isEmpty(album.animalPictures)}">
        <center>
            <h1 class="no-data">No pictures found</h1>
             <span sec:authorize="isAuthenticated()"><a href="#" data-toggle="modal" data-target="#submitAnimalPicModal"><i class="fa fa-plus"></i> Add a new animal picture</a></span>
        </center>
   </div>

    <div th:replace="fragments/modals">modals</div>
    <script th:replace="fragments/scripts">scripts</script>
  </body>
</html>
