<!DOCTYPE html>
<html>
  <head th:replace="fragments/head">
    <meta charset="utf-8" />
    <title>Cutenimals!!!</title>
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <nav th:replace="fragments/nav"></nav>
    <div th:replace="fragments/messages">message</div>
    
    <div class="container image-container">
        <div class="row">
            <div class="col-sm-7">
                <img th:attr="src=@{/pictures/} + ${picture.id} + @{/src}" class="image" /> 
            </div>
            <div class="col-sm-5">
                <a sec:authorize="isAuthenticated()" th:attr="data-action=@{/reports/pictures/} + ${picture.id},data-title=${picture.title}" data-type="picture" class="report-button"><i class="fa fa-exclamation-triangle"></i></a>
                <h1 class="image-title" th:text="${picture.title}">Image title</h1>
                <a th:href="@{/users/} + ${picture.author.id}"><small th:text="${picture.author.username}">Username</small></a>
                <p th:text="${picture.description}">Image description</p>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid comments-container">
                <h1 class="comments-title">Comments</h1>
                <div class="container-fluid">
                    <div th:if="!${#lists.isEmpty(picture.comments)}" th:each="comment : ${comments}" class="row clearfix comment">
                        <div class="col-md-12 column">
                            <a th:href="@{/users/} + ${comment.author.id}"><h2 class="comment-title" th:text="${comment.author.username}">Username</h2></a>
                            <a sec:authorize="isAuthenticated()" th:attr="data-action=@{/reports/comments/} + ${comment.id}" data-type="comment" class="report-button"><i class="fa fa-exclamation-triangle"></i></a>
                            <p th:text="${comment.comment}"></p>
                            <p>
                                <span class="pull-right timestamp" th:text="${comment.created}">24.4.2014</span>
                            </p>
                        </div>
                    </div>
                    <div th:if="${#lists.isEmpty(picture.comments)}" class="container-fluid comments-container">
                        <center>No comments yet!</center>
                    </div>
                </div>
                <form class="comment-form" role="form" method="POST" th:action="@{/pictures/} + ${picture.id} + @{/comment}">
                    <div class="form-group">
                        <!-- <label for="comment">Comment this picture</label>-->
                        <textarea id="comment" name="comment" placeholder="Add your comment..." class="form-control" rows="3"></textarea>
                    </div>
                    <input type="submit" value="Add comment" class="btn btn-primary input-block" />
                </form>
            </div>
        </div>
    </div>
    
    <div th:replace="fragments/modals">modals</div>
    <script th:replace="fragments/scripts">scripts</script>
  </body>
</html>