<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head">
    <meta charset="utf-8" />
    <title>Cutenimals!!!</title>
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <nav th:replace="fragments/nav"></nav>
    <div th:replace="fragments/messages">message</div>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1 th:text="${user.username}">HePPaF4N1</h1>
                <h4 th:text="${user.firstName} + ' ' + ${user.lastName}">Jonniina Jurvanen</h4>
            </div>
            
            <div class="col-sm-4" th:if="${not #lists.isEmpty(latestComments)}">
                <a th:href="@{/users/} + ${user.id} + @{/comments}" class="box-title red">Latest comments</a>
                <ul th:each="comment : ${latestComments}">
                  <li><span th:text="'&quot;' + ${comment.comment} + '&quot;'">&quot;Höpö höpö!&quot;</span> (<a href="#" th:href="@{/pictures/} + ${comment.picture.id}" th:text="${comment.picture.title}">Joku kuva</a>)</li>
                </ul>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-sm-6" th:if="${not #lists.isEmpty(latestAnimalPictures)}">
                <a th:href="@{/users/} + ${user.id} + @{/pictures}" class="box-title red">Latest animal pictures</a>
                <ul th:each="animalPicture : ${latestAnimalPictures}">
                  <li><a href="#" th:href="@{/pictures/} + ${animalPicture.id}" th:text="${animalPicture.title}">Animalpicture title</a></li>
                </ul>
            </div>
            <div class="col-sm-6" th:if="${not #lists.isEmpty(latestAlbums)}">
                <a th:href="@{/users/} + ${user.id} + @{/albums}" class="box-title red">Latest albums</a>
                <ul th:each="album : ${latestAlbums}">
                  <li><a href="#" th:href="@{/albums/} + ${album.id}" th:text="${album.name}">Album title</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div th:replace="fragments/modals">modals</div>
    <script th:replace="fragments/scripts">scripts</script>
  </body>
</html>